* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cat {
border-radius:40px 0;
 
}
 
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
h1 {
 color: white;
}
h3 {
 color: yellow;
}
h2{
  color:white;
}
header {
  position: fixed;
  width: 100%;
  background: #333;
  color: #fff;
  padding:1.1rem;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content:center;
}

.nav-bar li {
  margin: 0 15px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-bar a:hover {
  color: #00bcd4;
}

/* Sections */
section {
  padding: 60px 10px;
  text-align: center;
  
}
#home h1{
text-align: left;
 
}
#home h3{
text-align: left;
 
}

#home {
 background-image:url("Robo.jpg") ;
 background-size: 100%;
 background-repeat:no-repeat;
 background-attachment: fixed;
}

#about {
  background:#996600;
  padding-top: 10px;
}

#portfolio {
  background:#664400;
  padding-top: 10px;
}
.qua {
 font-weight: bold;
 font-size:20px;
}
.skill {
list-style: none;
 
}
.plink{
  color: white;
 
}
#contact {
  text-align: center;
  background:#332200;
  padding-top: 60px;
}
footer {
background: #1a1100;
color:white;
text-align: center;
}
.mail {
color: white;
text-decoration: none;
 
}
